<header class="main-header_area position-relative">
    <div class="header-top border-bottom d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="header-top-left">
                        <ul class="dropdown-wrap text-matterhorn">
                            <li class="dropdown">
                                <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="languageButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    Việt Nam
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="languageButton">
                                    <li><a class="dropdown-item" href="#">Italian</a></li>
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">French</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="currencyButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    VND
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="currencyButton">
                                    <li><a class="dropdown-item" href="#">USD</a></li>
                                    <li><a class="dropdown-item" href="#">EURO</a></li>
                                </ul>
                            </li>
                            <li>
                                Liên hệ:
                                <a href="tel://0961633193">0961633193</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-top-right text-matterhorn">
                        <p class="shipping mb-0">Miễn phí giao hàng khi đơn hàng trên <span>150.000đ</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="header-middle-wrap">
                        <a href="@Url.Action("Index", "Home")" class="header-logo">
                            <svg viewBox="100 60 500 300" data-background-color="#ffffff" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 100%;"><g id="tight-bounds" transform="matrix(1,0,0,1,122.24000000000004,135.73696109859475)"><svg viewBox="0 0 395.5199999999999 128.52607780281053" height="128.52607780281053" width="395.5199999999999"><g><svg viewBox="0 0 781.5056981765463 253.95393954080342" height="128.52607780281053" width="395.5199999999999"><g transform="matrix(1,0,0,1,385.98569817654624,11.894651294620346)"><svg viewBox="0 0 395.52 230.16463695156273" height="230.16463695156273" width="395.52"><g><svg viewBox="0 0 395.52 230.16463695156273" height="230.16463695156273" width="395.52"><g><svg viewBox="0 0 395.52 177.33699004267424" height="177.33699004267424" width="395.52"><g transform="matrix(1,0,0,1,0,0)"><svg width="395.52" viewBox="2 -35.900001525878906 175.75 75.80000305175781" height="177.33699004267424" data-palette-color="#97978d"><svg></svg><svg></svg><g class="undefined-text-0" data-fill-palette-color="primary" id="text-0"><path xmlns="http://www.w3.org/2000/svg" d="M20.95 0.5v0c-2.567 0-4.99-0.26-7.27-0.78-2.287-0.513-4.303-1.437-6.05-2.77-1.753-1.333-3.13-3.183-4.13-5.55-1-2.367-1.5-5.4-1.5-9.1v0c0-3.567 0.533-6.527 1.6-8.88 1.067-2.347 2.493-4.203 4.28-5.57 1.78-1.367 3.763-2.333 5.95-2.9 2.18-0.567 4.387-0.85 6.62-0.85v0c1.633 0 3.05 0.083 4.25 0.25 1.2 0.167 2.35 0.383 3.45 0.65v0l6.8 3.95-3.5 7.75-11.05-3.9c-1.6 0-3.073 0.317-4.42 0.95-1.353 0.633-2.437 1.64-3.25 3.02-0.82 1.387-1.23 3.247-1.23 5.58v0c0 3.767 0.843 6.407 2.53 7.92 1.68 1.52 3.987 2.28 6.92 2.28v0c1.5 0 2.677-0.077 3.53-0.23 0.847-0.147 1.503-0.27 1.97-0.37v0-3.8h-6.35v-7.4h15.9l0.55 3-1.1 4.15v10.5c-0.367 0.133-1.19 0.367-2.47 0.7-1.287 0.333-2.953 0.65-5 0.95-2.053 0.3-4.397 0.45-7.03 0.45zM51.55 0h-9v-27.35l-1-5.05 1-3h16c2.433 0 4.627 0.377 6.58 1.13 1.947 0.747 3.497 2.01 4.65 3.79 1.147 1.787 1.72 4.247 1.72 7.38v0c0 2.833-0.517 5.123-1.55 6.87-1.033 1.753-2.467 3.063-4.3 3.93v0l0.5 0.55 4.95 6.2 2.85 2.55v3h-11.25l-7-10.65h-4.15v2.6l0.5 5zM51.05-27.4l0.5 8.9h4.9c1.733 0 3.117-0.327 4.15-0.98 1.033-0.647 1.55-1.853 1.55-3.62v0c0-1.233-0.25-2.16-0.75-2.78-0.5-0.613-1.19-1.02-2.07-1.22-0.887-0.2-1.913-0.3-3.08-0.3v0zM105.4 0h-26.95l-1-3 1-5v-27.4h24.75l2.5 1.5-3.3 7-4.5-0.5h-10.45v5.5h13.45v7.75h-5.9l-7.55-0.5v6.65h14.95l5.95 4.8zM139.8 0h-26.95l-1-3 1-5v-27.4h24.75l2.5 1.5-3.3 7-4.5-0.5h-10.45v5.5h13.45v7.75h-5.9l-7.55-0.5v6.65h14.95l5.95 4.8zM156.85 0h-9.6v-27.35l-1-5 1-3h8.05l10.1 13.6 2.4 4.15h0.5v-17.75h9.45v3l-0.5 5v27.35h-7.85l-12.55-17.6h-0.5v3z" fill="#97978d" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal" data-fill-palette-color="primary" opacity="1"></path><path xmlns="http://www.w3.org/2000/svg" d="M13 39.4h-9v-27.3l-1-5.1 1-3h24.75l2.5 1.5-3.3 7-4.5-0.5h-10.95l0.5 5.5h13.45v7.75h-6.05l-7.4-0.5v6.7l0.55 5zM49.1 39.9v0c-2.133 0-4.207-0.26-6.22-0.78-2.02-0.513-3.837-1.437-5.45-2.77-1.62-1.333-2.903-3.183-3.85-5.55-0.953-2.367-1.43-5.4-1.43-9.1v0c0-3.7 0.477-6.733 1.43-9.1 0.947-2.367 2.23-4.217 3.85-5.55 1.613-1.333 3.43-2.26 5.45-2.78 2.013-0.513 4.087-0.77 6.22-0.77v0c2.133 0 4.21 0.267 6.23 0.8 2.013 0.533 3.83 1.467 5.45 2.8 1.613 1.333 2.897 3.183 3.85 5.55 0.947 2.367 1.42 5.383 1.42 9.05v0c0 3.667-0.473 6.683-1.42 9.05-0.953 2.367-2.237 4.217-3.85 5.55-1.62 1.333-3.437 2.267-5.45 2.8-2.02 0.533-4.097 0.8-6.23 0.8zM49.1 31.4v0c2.467 0 4.333-0.733 5.6-2.2 1.267-1.467 1.9-3.967 1.9-7.5v0c0-3.533-0.633-6.033-1.9-7.5-1.267-1.467-3.133-2.2-5.6-2.2v0c-2.433 0-4.283 0.75-5.55 2.25-1.267 1.5-1.9 3.983-1.9 7.45v0c0 3.467 0.633 5.95 1.9 7.45 1.267 1.5 3.117 2.25 5.55 2.25zM87 39.9v0c-2.133 0-4.207-0.26-6.22-0.78-2.02-0.513-3.837-1.437-5.45-2.77-1.62-1.333-2.907-3.183-3.86-5.55-0.947-2.367-1.42-5.4-1.42-9.1v0c0-3.7 0.473-6.733 1.42-9.1 0.953-2.367 2.24-4.217 3.86-5.55 1.613-1.333 3.43-2.26 5.45-2.78 2.013-0.513 4.087-0.77 6.22-0.77v0c2.133 0 4.207 0.267 6.22 0.8 2.02 0.533 3.837 1.467 5.45 2.8 1.62 1.333 2.907 3.183 3.86 5.55 0.947 2.367 1.42 5.383 1.42 9.05v0c0 3.667-0.473 6.683-1.42 9.05-0.953 2.367-2.24 4.217-3.86 5.55-1.613 1.333-3.43 2.267-5.45 2.8-2.013 0.533-4.087 0.8-6.22 0.8zM87 31.4v0c2.467 0 4.333-0.733 5.6-2.2 1.267-1.467 1.9-3.967 1.9-7.5v0c0-3.533-0.633-6.033-1.9-7.5-1.267-1.467-3.133-2.2-5.6-2.2v0c-2.433 0-4.283 0.75-5.55 2.25-1.267 1.5-1.9 3.983-1.9 7.45v0c0 3.467 0.633 5.95 1.9 7.45 1.267 1.5 3.117 2.25 5.55 2.25zM124.85 39.4h-14.9v-27.35l-1-5 1-3.05h14.9c2.4 0 4.707 0.223 6.92 0.67 2.22 0.453 4.203 1.297 5.95 2.53 1.753 1.233 3.14 3 4.16 5.3 1.013 2.3 1.52 5.283 1.52 8.95v0c0 3.667-0.517 6.673-1.55 9.02-1.033 2.353-2.433 4.18-4.2 5.48-1.767 1.3-3.76 2.2-5.98 2.7-2.213 0.5-4.487 0.75-6.82 0.75zM119.05 12v19.4h5.8c2.933 0 5.183-0.777 6.75-2.33 1.567-1.547 2.35-4.087 2.35-7.62v0c0-3.533-0.793-5.993-2.38-7.38-1.58-1.38-3.82-2.07-6.72-2.07v0z" fill="#97978d" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal" data-fill-palette-color="primary" opacity="1"></path></g></svg></g></svg></g><g transform="matrix(1,0,0,1,0,196.67564821922048)"><svg viewBox="0 0 300.5952 29.051718149466193" height="29.051718149466193" width="300.5952"><g transform="matrix(1,0,0,1,0,0)"><svg width="300.5952" viewBox="2.5999999046325684 -40.45000076293945 533.8600463867188 51.599998474121094" height="29.051718149466193" data-palette-color="#dfa75e"><path d="M28.7-17.5Q28.7 0 11.95 0L11.95 0 2.6 0 2.6-34.65 11.35-34.65Q19.2-34.65 23.95-30.98 28.7-27.3 28.7-17.5L28.7-17.5ZM20.25-17.5Q20.25-23.95 18.25-26.33 16.25-28.7 12.55-28.7L12.55-28.7 10.8-28.7 10.8-5.95 12.55-5.95Q16.3-5.95 18.28-8.53 20.25-11.1 20.25-17.5L20.25-17.5ZM40.35-10.95Q41.1-4.9 46.75-4.9L46.75-4.9Q50.15-4.9 53.55-7.1L53.55-7.1 56.7-2.8Q54.75-1.1 52.05-0.13 49.35 0.85 46.1 0.85L46.1 0.85Q41.65 0.85 38.55-0.93 35.45-2.7 33.87-5.88 32.3-9.05 32.3-13.25L32.3-13.25Q32.3-17.25 33.82-20.48 35.35-23.7 38.27-25.58 41.2-27.45 45.25-27.45L45.25-27.45Q49.05-27.45 51.85-25.83 54.65-24.2 56.17-21.13 57.7-18.05 57.7-13.8L57.7-13.8Q57.7-12.15 57.55-10.95L57.55-10.95 40.35-10.95ZM45.25-22.15Q43.1-22.15 41.8-20.58 40.5-19 40.25-15.75L40.25-15.75 50-15.75Q49.9-22.15 45.25-22.15L45.25-22.15ZM74.15-4.8Q76.2-4.8 77.37-5.43 78.55-6.05 78.55-7.3L78.55-7.3Q78.55-8.2 78.07-8.75 77.59-9.3 76.3-9.83 75-10.35 72.25-11.1L72.25-11.1Q68.25-12.15 66.15-14.03 64.05-15.9 64.05-19.2L64.05-19.2Q64.05-22.85 67.07-25.15 70.09-27.45 75.55-27.45L75.55-27.45Q81.84-27.45 86.3-24.2L86.3-24.2 83.15-19.55Q79.5-21.8 75.8-21.8L75.8-21.8Q73.84-21.8 72.92-21.3 72-20.8 72-19.75L72-19.75Q72-19.05 72.47-18.57 72.95-18.1 74.27-17.6 75.59-17.1 78.25-16.35L78.25-16.35Q81.09-15.55 82.92-14.6 84.75-13.65 85.75-12.05 86.75-10.45 86.75-7.95L86.75-7.95Q86.75-5.15 85.05-3.15 83.34-1.15 80.5-0.15 77.65 0.85 74.2 0.85L74.2 0.85Q70.5 0.85 67.5-0.2 64.5-1.25 62.4-3.15L62.4-3.15 66.34-7.6Q69.95-4.8 74.15-4.8L74.15-4.8ZM104.94-40.45Q106.99-40.45 108.29-39.18 109.59-37.9 109.59-36L109.59-36Q109.59-34.05 108.29-32.8 106.99-31.55 104.94-31.55L104.94-31.55Q102.89-31.55 101.57-32.83 100.24-34.1 100.24-36L100.24-36Q100.24-37.9 101.57-39.18 102.89-40.45 104.94-40.45L104.94-40.45ZM109.69-26.55L109.69-5.4 116.49-5.4 116.49 0 94.29 0 94.29-5.4 101.79-5.4 101.79-21.15 94.54-21.15 94.54-26.55 109.69-26.55ZM147.09-30.8L148.89-25Q146.29-23.95 141.24-23.95L141.24-23.95Q143.84-22.8 145.12-21.2 146.39-19.6 146.39-17.1L146.39-17.1Q146.39-14.55 144.99-12.53 143.59-10.5 141.04-9.35 138.49-8.2 135.14-8.2L135.14-8.2Q133.49-8.2 132.04-8.5L132.04-8.5Q131.64-8.3 131.42-7.88 131.19-7.45 131.19-7L131.19-7Q131.19-6.25 131.77-5.83 132.34-5.4 134.09-5.4L134.09-5.4 138.49-5.4Q141.49-5.4 143.79-4.4 146.09-3.4 147.34-1.65 148.59 0.1 148.59 2.3L148.59 2.3Q148.59 6.45 144.97 8.78 141.34 11.1 134.39 11.1L134.39 11.1Q129.44 11.1 126.62 10.08 123.79 9.05 122.67 7.2 121.54 5.35 121.54 2.55L121.54 2.55 128.54 2.55Q128.54 3.8 129.02 4.5 129.49 5.2 130.79 5.55 132.09 5.9 134.59 5.9L134.59 5.9Q138.09 5.9 139.42 5.1 140.74 4.3 140.74 2.85L140.74 2.85Q140.74 1.65 139.77 0.93 138.79 0.2 136.89 0.2L136.89 0.2 132.69 0.2Q128.59 0.2 126.54-1.28 124.49-2.75 124.49-5.05L124.49-5.05Q124.49-6.55 125.27-7.88 126.04-9.2 127.44-10.1L127.44-10.1Q124.94-11.45 123.84-13.28 122.74-15.1 122.74-17.7L122.74-17.7Q122.74-20.65 124.24-22.85 125.74-25.05 128.44-26.23 131.14-27.4 134.59-27.4L134.59-27.4Q138.59-27.3 141.39-28.18 144.19-29.05 147.09-30.8L147.09-30.8ZM134.79-22.25Q132.89-22.25 131.81-21.05 130.74-19.85 130.74-17.8L130.74-17.8Q130.74-15.65 131.84-14.45 132.94-13.25 134.79-13.25L134.79-13.25Q136.74-13.25 137.79-14.43 138.84-15.6 138.84-17.9L138.84-17.9Q138.84-22.25 134.79-22.25L134.79-22.25ZM153.49 0L153.49-26.55 160.39-26.55 160.94-23.5Q162.74-25.5 164.71-26.48 166.69-27.45 169.19-27.45L169.19-27.45Q172.64-27.45 174.56-25.35 176.49-23.25 176.49-19.5L176.49-19.5 176.49 0 168.59 0 168.59-17.2Q168.59-19.7 168.04-20.65 167.49-21.6 166.04-21.6L166.04-21.6Q164.84-21.6 163.71-20.83 162.59-20.05 161.39-18.55L161.39-18.55 161.39 0 153.49 0ZM221.38-23.85Q222.63-25.55 224.41-26.5 226.18-27.45 228.18-27.45L228.18-27.45Q233.13-27.45 235.56-23.75 237.98-20.05 237.98-13.35L237.98-13.35Q237.98-9.2 236.73-6 235.48-2.8 233.08-0.98 230.68 0.85 227.33 0.85L227.33 0.85Q225.33 0.85 223.63 0 221.93-0.85 220.78-2.4L220.78-2.4 220.48 0 213.48 0 213.48-37.1 221.38-37.95 221.38-23.85ZM225.28-4.9Q229.83-4.9 229.83-13.25L229.83-13.25Q229.83-17.9 228.78-19.75 227.73-21.6 225.68-21.6L225.68-21.6Q223.23-21.6 221.38-18.5L221.38-18.5 221.38-7.3Q222.93-4.9 225.28-4.9L225.28-4.9ZM268.58-26.55L259.73 0Q257.93 5.35 254.38 8.08 250.83 10.8 244.88 11.15L244.88 11.15 243.98 5.55Q247.78 5.05 249.61 3.85 251.43 2.65 252.53 0L252.53 0 249.78 0 241.38-26.55 249.73-26.55 254.88-5.05 260.48-26.55 268.58-26.55ZM319.18 0L319.18-14.6 310.78-14.6 310.78 0 302.58 0 302.58-34.65 310.78-34.65 310.78-21.35 319.18-21.35 319.18-34.65 327.38-34.65 327.38 0 319.18 0ZM341.37-26.55L341.37-8.4Q341.37-6.55 342.05-5.78 342.72-5 344.07-5L344.07-5Q345.27-5 346.52-5.78 347.77-6.55 348.57-7.9L348.57-7.9 348.57-26.55 356.47-26.55 356.47 0 349.57 0 349.22-3.1Q347.92-1.2 345.72-0.18 343.52 0.85 341.07 0.85L341.07 0.85Q337.32 0.85 335.4-1.33 333.47-3.5 333.47-7.4L333.47-7.4 333.47-26.55 341.37-26.55ZM388.57-26.55L379.72 0Q377.92 5.35 374.37 8.08 370.82 10.8 364.87 11.15L364.87 11.15 363.97 5.55Q367.77 5.05 369.6 3.85 371.42 2.65 372.52 0L372.52 0 369.77 0 361.37-26.55 369.72-26.55 374.87-5.05 380.47-26.55 388.57-26.55ZM424.62 0L424.62-34.65 432.82-34.65 432.82-6.5 447.82-6.5 447.02 0 424.62 0ZM464.91-40.45Q466.96-40.45 468.26-39.18 469.56-37.9 469.56-36L469.56-36Q469.56-34.05 468.26-32.8 466.96-31.55 464.91-31.55L464.91-31.55Q462.86-31.55 461.54-32.83 460.21-34.1 460.21-36L460.21-36Q460.21-37.9 461.54-39.18 462.86-40.45 464.91-40.45L464.91-40.45ZM469.66-26.55L469.66-5.4 476.46-5.4 476.46 0 454.26 0 454.26-5.4 461.76-5.4 461.76-21.15 454.51-21.15 454.51-26.55 469.66-26.55ZM483.46 0L483.46-26.55 490.36-26.55 490.91-23.5Q492.71-25.5 494.69-26.48 496.66-27.45 499.16-27.45L499.16-27.45Q502.61-27.45 504.54-25.35 506.46-23.25 506.46-19.5L506.46-19.5 506.46 0 498.56 0 498.56-17.2Q498.56-19.7 498.01-20.65 497.46-21.6 496.01-21.6L496.01-21.6Q494.81-21.6 493.69-20.83 492.56-20.05 491.36-18.55L491.36-18.55 491.36 0 483.46 0ZM521.36-37.9L521.36-23.9Q524.71-27.45 529.16-27.45L529.16-27.45Q532.66-27.45 534.56-25.38 536.46-23.3 536.46-19.5L536.46-19.5 536.46 0 528.56 0 528.56-17.3Q528.56-19.7 528.01-20.65 527.46-21.6 526.01-21.6L526.01-21.6Q524.81-21.6 523.68-20.78 522.56-19.95 521.36-18.35L521.36-18.35 521.36 0 513.46 0 513.46-37.1 521.36-37.9Z" opacity="1" transform="matrix(1,0,0,1,0,0)" fill="#dfa75e" class="undefined-text-1" data-fill-palette-color="secondary" id="text-1"></path></svg></g></svg></g></svg></g></svg></g><g><svg viewBox="0 0 366.64704 253.95393954080342" height="253.95393954080342" width="366.64704"><g><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="1342.7515869140625 10150 57317.5 39700.3203125" x="0" y="0" fill-rule="evenodd" clip-rule="evenodd" height="253.95393954080342" width="366.64704" class="icon-icon-0" data-fill-palette-color="accent" id="icon-0"><g fill="#bac34e" data-fill-palette-color="accent"><path class="" d="M25611 20074c422-422 975-633 1529-633 553 0 1106 211 1529 633 422 422 633 975 633 1529 0 380-99 760-298 1097l1034 1192 1034-1192c-199-337-298-717-298-1097 0-553 211-1106 633-1529 422-422 975-633 1529-633 553 0 1106 211 1529 633 422 422 633 975 633 1529 0 553-211 1106-633 1529-422 422-975 633-1529 633-380 0-760-99-1097-298l-1192 1034 1192 1034c337-199 717-298 1097-298 553 0 1106 211 1529 633 422 422 633 975 633 1529 0 553-211 1106-633 1529-422 422-975 633-1529 633-553 0-1106-211-1529-633-422-422-633-975-633-1529 0-380 99-760 298-1097l-1034-1192-1034 1192c199 337 298 717 298 1097 0 553-211 1106-633 1529-422 422-975 633-1529 633-553 0-1106-211-1529-633-422-422-633-975-633-1529 0-553 211-1106 633-1529 422-422 975-633 1529-633 380 0 760 99 1097 298l1192-1034-1192-1034c-337 199-717 298-1097 298-553 0-1106-211-1529-633-422-422-633-975-633-1529 0-553 211-1106 633-1529z m-10195 18301c61-124 210-174 334-113 124 61 174 210 113 334l-965 1960c-61 124-210 174-334 113-124-61-174-210-113-334l965-1960z m28641 221c-61-124-10-273 113-334 124-61 273-10 334 113l965 1960c61 124 10 273-113 334-124 61-273 10-334-113l-965-1960z m-37563-21430c9-138 128-242 266-232 138 9 242 128 232 266l-148 2180c-9 138-128 242-266 232-138-9-242-128-232-266l148-2180z m46387 33c-9-138 95-256 232-266 138-9 256 95 266 232l148 2180c9 138-95 256-232 266-138 9-256-95-266-232l-148-2180z m-46954 4760c-382-346-689-732-923-1142-470-823-645-1741-555-2636 89-891 441-1759 1024-2487 378-471 853-884 1418-1206 152-86 336-62 460 47l0-1c494 435 884 946 1166 1497 425 831 601 1750 515 2639-86 897-435 1761-1060 2470-337 383-756 722-1258 996-38 572-62 1134-72 1686 130-220 283-426 454-615 509-562 1185-977 1948-1186 506-138 1048-185 1603-124l0 1c165 18 308 139 345 310 120 536 133 1069 53 1574-123 783-466 1499-973 2064-510 567-1186 983-1974 1159-423 95-877 120-1352 62 68 807 167 1589 296 2347 116-321 279-622 481-894 421-569 1011-1018 1701-1282 444-170 931-263 1443-261 179-14 351 95 410 274 161 486 222 980 194 1458-42 737-295 1435-714 2007-422 576-1013 1025-1727 1262-360 119-752 184-1169 183 289 1017 633 1982 1027 2894 139-639 443-1213 865-1686 507-568 1184-991 1950-1207 501-141 1041-193 1595-137 172 11 323 133 363 309 125 539 142 1074 66 1582-117 785-457 1508-963 2081-509 576-1186 999-1975 1182-253 59-517 93-789 99 241 418 492 823 755 1213 662 986 1391 1884 2171 2693-86-817 91-1656 456-2412 409-846 1058-1593 1841-2090 442-281 928-483 1441-581l0 0c144-27 297 26 392 150 487 639 751 1379 810 2129 54 689-66 1389-345 2028-279 639-717 1217-1299 1661-430 328-938 584-1517 737 2645 2115 5688 3350 8688 3671 652 70 859 519 806 1180-38 471-230 1069-467 1691-55 145-145 260-267 347-385 276-1074 169-1931-201-751-325-1676-854-2649-1492-2589-1699-5556-4207-6516-5702-131 258-283 498-452 718-582 757-1367 1276-2234 1542-863 264-1805 275-2706 17-584-167-1153-449-1673-848-142-109-189-295-130-454 213-627 533-1184 932-1656 606-717 1392-1238 2253-1505 823-255 1712-278 2575-17-290-373-570-761-840-1162-293-436-572-888-839-1356-201 226-419 420-651 586-660 469-1425 695-2193 695-764 0-1529-225-2195-657-432-281-822-649-1143-1099-101-143-96-329 1-464l-1 0c327-456 727-830 1170-1116 667-430 1433-656 2196-659 570-2 1138 120 1660 376-368-867-693-1779-970-2735-361 223-735 374-1111 461-733 169-1470 92-2129-181-656-271-1234-736-1652-1343-272-395-477-849-592-1349-39-171 38-341 178-428l0 0c442-275 918-454 1400-542 725-132 1462-55 2116 212 462 189 883 472 1230 842-171-884-302-1801-392-2751-500 97-980 100-1431 24-795-135-1493-514-2033-1055-537-538-917-1234-1080-2007-106-501-122-1034-30-1576 30-179 175-310 346-331 547-88 1085-69 1590 40 772 167 1470 547 2009 1082 184 183 349 383 492 599 5-730 33-1477 87-2241z m-229-1535c192 336 445 654 763 942 358-213 662-468 913-753 510-580 796-1286 866-2017 71-740-76-1507-431-2201-194-379-452-738-772-1060-366 243-681 535-941 860-485 606-778 1327-852 2065-74 735 69 1489 455 2164z m-1020 6237c298 50 614 57 942 13 44-321 39-629-8-918-102-621-400-1166-826-1589-430-427-991-731-1615-866-326-71-668-95-1017-67-29 340-6 671 61 987 132 622 436 1181 865 1610 425 426 974 725 1599 830z m3073 4702c295-8 573-58 830-143 552-182 1008-529 1334-974 329-449 528-998 561-1578 16-288-8-584-77-881-311 25-609 94-888 201-547 209-1014 563-1344 1010-327 443-522 977-528 1553-3 262 33 534 114 813z m-2111 824c263-61 526-163 783-309-75-277-186-528-326-752-306-490-749-847-1257-1055-515-211-1099-271-1676-165-291 53-582 150-862 291 95 289 228 554 391 791 331 480 785 846 1299 1059 511 211 1081 271 1648 140z m9257 11912c1230 1100 2785 2290 4226 3235 936 615 1819 1121 2527 1427 582 251 996 370 1140 294 212-557 383-1082 413-1459 15-190-7-315-94-324-2814-302-5662-1367-8212-3172z m-5433-7628c334 24 652-1 948-70 621-144 1154-478 1556-932 404-457 675-1036 770-1668 48-323 50-658 1-998-353-7-696 38-1019 129-617 174-1162 513-1569 969-403 452-669 1017-734 1647-30 294-17 604 47 924z m1622 6060c238-310 435-670 579-1079-339-252-695-437-1056-558-738-248-1507-239-2217-18-714 222-1370 657-1878 1259-279 331-513 711-687 1133 369 246 764 426 1168 542 755 216 1540 208 2256-11 711-218 1356-644 1834-1267z m2742-403c676-93 1250-342 1711-693 471-360 826-828 1053-1346 226-518 324-1088 280-1650-41-522-205-1036-501-1496-321 90-629 231-917 414-659 418-1205 1047-1550 1762-342 707-486 1492-344 2232 51 266 140 528 270 778z m-5887-4615c248-176 478-397 680-663-197-259-420-475-661-648-516-370-1116-546-1721-543-609 2-1224 186-1765 534-281 181-542 408-771 678 222 262 474 483 747 660 536 348 1150 529 1761 529 606 0 1210-178 1730-548z m-953-11222c331 27 647 3 942-63 617-138 1149-466 1552-916 406-452 681-1026 779-1651 50-319 55-652 9-990-352-10-693 32-1013 119-615 168-1160 501-1567 951-403 445-671 1005-741 1631-32 293-22 601 39 918z m46555-4926c317-288 571-606 763-942 386-675 529-1429 455-2164-74-738-367-1459-852-2065-260-325-575-616-941-860-320 321-578 680-772 1060-355 694-502 1461-431 2201 70 732 356 1437 866 2017 251 285 555 540 913 753z m1456-548c-234 410-540 795-923 1142 53 763 82 1510 87 2241 143-216 308-417 492-599 538-535 1236-915 2009-1082 505-109 1043-128 1590-40 172 20 316 152 346 331 92 542 76 1075-30 1576-164 773-544 1470-1080 2007-540 541-1238 921-2033 1055-451 76-931 73-1431-24-90 950-221 1867-392 2751 347-370 767-653 1230-842 655-268 1391-345 2116-212 482 88 958 267 1400 542l0 0c141 87 217 258 178 428-115 500-320 955-592 1349-418 607-996 1072-1652 1343-659 273-1396 350-2129 181-376-87-750-238-1111-461-277 957-602 1869-970 2735 523-256 1090-378 1660-376 763 3 1529 229 2196 659 443 286 843 660 1170 1116l-1 0c96 135 102 321 1 464-320 450-711 818-1143 1099-666 433-1432 657-2195 657-768 0-1533-226-2193-695-232-165-451-360-651-586-266 469-546 921-839 1356-270 401-550 789-840 1162 863-261 1752-239 2575 17 860 267 1647 788 2253 1505 398 472 719 1029 932 1656 59 159 11 345-130 454-520 400-1089 681-1673 848-901 258-1843 247-2706-17-867-265-1652-785-2234-1542-169-220-321-459-452-718-960 1494-3927 4002-6516 5702-973 638-1897 1168-2649 1492-857 370-1546 477-1931 201-122-87-212-202-267-347-237-622-429-1220-467-1691-53-661 154-1110 806-1180 3000-322 6043-1556 8688-3671-579-153-1087-408-1517-737-582-444-1020-1022-1299-1661-279-639-399-1339-345-2028 59-751 322-1491 810-2129 95-124 248-177 392-150l0 0c513 98 999 301 1441 581 783 497 1432 1244 1841 2090 366 756 542 1594 456 2412 780-808 1508-1706 2171-2693 262-390 514-795 755-1213-273-6-537-40-789-99-789-183-1466-606-1975-1182-506-573-846-1295-963-2081-76-508-59-1043 66-1582 40-176 192-298 363-309 555-55 1094-3 1595 137 766 215 1443 638 1950 1207 422 473 726 1047 865 1686 394-912 738-1877 1027-2894-418 1-809-64-1169-183-715-236-1305-686-1727-1262-419-572-672-1269-714-2007-27-478 34-972 194-1458 59-178 231-287 410-274 511-2 998 91 1443 261 689 264 1280 713 1701 1282 202 273 365 573 481 894 128-758 228-1541 296-2347-476 58-929 33-1352-62-788-177-1465-592-1974-1159-507-564-850-1281-973-2064-80-506-67-1038 53-1574 38-171 180-292 345-310l0-1c555-61 1097-14 1603 124 763 208 1440 624 1948 1186 171 189 324 395 454 615-10-552-34-1114-72-1686-502-274-921-613-1258-996-624-710-974-1574-1060-2470-85-888 90-1808 515-2639 282-552 672-1062 1166-1497l0 1c124-109 309-134 460-47 565 322 1040 735 1418 1206 583 728 935 1595 1024 2487 90 895-85 1812-555 2636z m-616 5856c329 44 645 37 942-13 625-106 1173-405 1599-830 429-430 733-989 865-1610 67-316 89-648 61-987-349-28-691-3-1017 67-624 135-1185 439-1615 866-426 423-724 968-826 1589-48 289-53 597-8 918z m-2960 4546c257 85 535 135 830 143 81-278 117-551 114-813-6-575-201-1110-528-1553-331-447-797-801-1344-1010-279-107-577-176-888-201-69 297-93 593-77 881 33 581 231 1129 561 1578 326 445 782 792 1334 974z m2158 658c256 147 519 249 783 309 567 131 1137 71 1648-140 514-213 968-579 1299-1059 163-237 296-502 391-791-280-142-571-238-862-291-577-105-1160-45-1676 165-508 208-952 564-1257 1055-139 224-250 475-326 752z m-12700 15457c1441-945 2995-2134 4226-3235-2550 1805-5398 2871-8212 3172-86 9-109 134-94 324 30 377 201 902 413 1459 143 76 558-42 1140-294 708-306 1591-812 2527-1427z m8711-10933c296 69 614 95 948 70 64-320 78-630 47-924-65-629-331-1195-734-1647-406-456-951-796-1569-969-323-91-666-136-1019-129-49 340-47 676 1 998 94 632 366 1212 770 1668 401 454 935 788 1556 932z m-1253 5052c144 409 341 769 579 1079 478 622 1123 1049 1834 1267 716 219 1501 227 2256 11 405-116 799-296 1168-542-174-422-408-802-687-1133-508-601-1163-1037-1878-1259-710-220-1479-230-2217 18-361 122-717 306-1056 558z m-3873-18c461 352 1034 600 1711 693 130-250 219-511 270-778 142-740-2-1525-344-2232-346-714-892-1344-1550-1762-288-183-596-324-917-414-297 460-460 975-501 1496-44 563 53 1132 280 1650 226 518 581 986 1053 1346z m6918-4584c203 266 432 486 680 663 520 370 1124 548 1730 548 611 0 1225-181 1761-529 273-177 525-398 747-660-229-270-490-497-771-678-541-348-1156-532-1765-534-604-2-1205 174-1721 543-241 173-465 388-661 648z m692-10622c295 66 611 90 942 63 61-317 71-625 39-918-69-627-338-1187-741-1631-407-450-952-783-1567-951-321-87-661-130-1013-119-46 338-42 671 9 990 98 626 373 1199 779 1651 403 449 936 777 1552 916z m-25896-5589c-266 266-399 614-399 963 0 349 133 697 399 963 266 266 614 399 963 399 148 0 295-24 436-72l-344-298c-167-144-185-396-41-563 4-5 373-373 377-377 167-144 418-126 563 41l298 344c48-141 72-289 72-436 0-349-133-697-399-963-266-266-614-399-963-399-349 0-697 133-963 399z m0 7721c266 266 614 399 963 399 349 0 697-133 963-399 266-266 399-614 399-963 0-148-24-295-72-436l-298 344c-144 167-396 185-563 41-5-4-373-373-377-377-144-167-126-418 41-563l344-298c-141-48-289-72-436-72-349 0-697 133-963 399-266 266-399 614-399 963 0 349 133 697 399 963z m-3594-11315c2059-2058 4756-3088 7454-3088 2698 0 5396 1029 7454 3088 2059 2059 3088 4756 3088 7454 0 2698-1029 5396-3088 7454-2058 2058-4756 3088-7454 3088-2698 0-5396-1029-7454-3088-2058-2058-3088-4756-3088-7454 0-2698 1029-5396 3088-7454z m566 566c-1902 1902-2853 4395-2853 6889 0 2493 951 4986 2853 6889 1902 1902 4395 2853 6889 2853 2493 0 4986-951 6889-2853 1902-1902 2853-4395 2853-6889 0-2493-951-4986-2853-6889-1902-1902-4395-2853-6889-2853-2493 0-4986 951-6889 2853z m10749 10749c266-266 399-614 399-963 0-349-133-697-399-963-266-266-614-399-963-399-148 0-295 24-436 72l344 298c167 144 185 396 41 563-4 5-373 373-377 377-167 144-418 126-563-41l-298-344c-48 141-72 289-72 436 0 349 133 697 399 963 266 266 614 399 963 399 349 0 697-133 963-399z m0-7721c-266-266-614-399-963-399-349 0-697 133-963 399-266 266-399 614-399 963 0 148 24 295 72 436l298-344c144-167 396-185 563-41 5 4 373 373 377 377 144 167 126 418-41 563l-344 298c141 48 289 72 436 72 349 0 697-133 963-399 266-266 399-614 399-963 0-349-133-697-399-963z m-14008-6287c2802-2802 6475-4203 10148-4203 3673 0 7346 1401 10148 4203 2802 2802 4203 6475 4203 10148 0 3673-1401 7346-4203 10148-2802 2802-6475 4203-10148 4203-3673 0-7346-1401-10148-4203-2802-2802-4203-6475-4203-10148 0-3673 1401-7346 4203-10148z m10148-3403c-3468 0-6936 1323-9582 3969-2646 2646-3969 6114-3969 9582 0 3468 1323 6936 3969 9582 2646 2646 6114 3969 9582 3969 3468 0 6936-1323 9582-3969 2646-2646 3969-6114 3969-9582 0-3468-1323-6936-3969-9582-2646-2646-6114-3969-9582-3969z" fill="#bac34e" fill-rule="nonzero" data-fill-palette-color="accent"></path></g></svg></g></svg></g></svg></g><defs></defs></svg><rect width="395.5199999999999" height="128.52607780281053" fill="none" stroke="none" visibility="hidden"></rect></g></svg>
                        </a>
                        <div class="header-search-area d-none d-lg-block">
                            <form action="#" class="header-searchbox">
                                <input class="input-field" type="text" placeholder="Tìm kiếm sản phẩm" style="font-size: 16px;">
                                <button class="btn btn-outline-whisper btn-primary-hover" type="submit"><i class="pe-7s-search"></i></button>
                            </form>
                        </div>
                        <div style="margin-left: 12px;" class="header-right">
                            <ul>
                                <li class="dropdown d-none d-md-block">
                                    <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="pe-7s-users"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                        <li><a class="dropdown-item" href="my-account.html">Tài khoản</a></li>
                                        <li><a class="dropdown-item" href="login-register.html">Đăng nhập | Đăng kí</a></li>
                                    </ul>
                                </li>
                                <li class="d-none d-md-block">
                                    <a href="wishlist.html">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="d-block d-lg-none">
                                    <a href="#searchBar" class="search-btn">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </li>
                                <li class="minicart-wrap me-3 me-lg-0">
                                    <a href="/gio-hang" class="minicart-btn">
                                        <i class="pe-7s-shopbag"></i>
                                        <span id="checkout_items" class="quantity">0</span>
                                    </a>
                                </li>
                                <li class="mobile-menu_wrap d-block d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header header-sticky" data-bg-color="#bac34e">
        <div class="container">
            <div class="main-header_nav position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-12 d-none d-lg-block">
                        <div class="main-menu">
                            <nav class="main-nav">
                                <ul>
                                    <li class="drop-holder">
                                        @Html.ActionLink("Trang chủ", "Index", "Home")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Giới Thiệu", "Index", "About")
                                    </li>
                                    <li class="drop-holder">
                                        @Html.ActionLink("Sản Phẩm", "Index", "Product")
                                    </li>
                                    <li class="drop-holder">
                                        @Html.ActionLink("Trợ giúp", "Index", "Help")
                                    </li>
                                    <li class="drop-holder">
                                        @Html.ActionLink("Tin Tức", "Index", "Blog")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Liên Hệ", "Index", "Contact")
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu_wrapper" id="mobileMenu">
        <div class="harmic-offcanvas-body">
            <div class="inner-body">
                <div class="harmic-offcanvas-top">
                    <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                </div>
                <div class="offcanvas-user-info text-center px-6 pb-5">
                    <div class=" text-silver">
                        <p class="shipping mb-0">Free delivery on order over <span class="text-primary">$200</span></p>
                    </div>
                    <ul class="dropdown-wrap justify-content-center text-silver">
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="languageButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                English
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="languageButtonTwo">
                                <li><a class="dropdown-item" href="#">French</a></li>
                                <li><a class="dropdown-item" href="#">Italian</a></li>
                                <li><a class="dropdown-item" href="#">Spanish</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn usd-dropdown" type="button" id="currencyButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                USD
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="currencyButtonTwo">
                                <li><a class="dropdown-item" href="#">GBP</a></li>
                                <li><a class="dropdown-item" href="#">ISO</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="pe-7s-users"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButtonTwo">
                                <li><a class="dropdown-item" href="my-account.html">My account</a></li>
                                <li><a class="dropdown-item" href="login-register.html">Login | Register</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="wishlist.html">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-menu_area">
                    <nav class="offcanvas-navigation">
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children">
                                <a href=" #">
                                    <span class="mm-text">
                                        Trang chủ
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    <span class="mm-text">About Us</span>
                                </a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">
                                        Shop
                                    </span>
                                </a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">
                                        Pages
                                    </span>
                                </a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">
                                        Blog
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <span class="mm-text">Contact</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-search_wrapper" id="searchBar">
        <div class="harmic-offcanvas-body">
            <div class="container h-100">
                <div class="offcanvas-search">
                    <div class="harmic-offcanvas-top">
                        <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                    </div>
                    <span class="searchbox-info">Start typing and press Enter to search</span>
                    <form action="#" class="hm-searchbox">
                        <input type="text" placeholder="Search">
                        <button class="search-btn" type="submit"><i class="pe-7s-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="global-overlay"></div>
</header>
