@model WebThucPham.Models.Account

@{
    ViewBag.Title = "Chi tiết tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index","AdminHome", new { area = "Admin"})" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="@Url.Action("Index","AdminAccounts", new { area = "Admin"})">Danh sách tài khoản</a>
            <span class="breadcrumb-item active">Thông tin tài khoản : @Model.UserName</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin tài khoản</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.ID</td>
                    </tr>
                    <tr>
                        <td>Tên đăng nhập</td>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <td>Mật khẩu</td>
                        <td>@Model.Password</td>
                    </tr>
                    <tr>
                        <td>Tên đầy đủ</td>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <td>Active</td>
                        <td>@Html.DisplayFor(model => model.Active)</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo</td>
                        <td>@Model.CreateAt</td>
                    </tr>
                    <tr>
                        <td>Quyền truy cập</td>
                        <td>@Model.Role.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.ActionLink("Sửa sản tài khoản này", "Edit", new { id = Model.ID }, new { @class = "col-md-3 btn btn-primary btn-sm" })
