@model WebThucPham.Models.Product

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index","AdminHome", new { area = "Admin"})" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="@Url.Action("Index","AdminProducts", new { area = "Admin"})">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Chi tiết sản phẩm > @Model.Name</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Chi tiết sản phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Tên</td>
                        <td class="text-dark font-weight-semibold">@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Danh mục</td>
                        <td>@Model.Category.Name</td>
                    </tr>
                    <tr>
                        <td>Giá</td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Giá giảm</td>
                        <td>@Model.Discount</td>
                    </tr>
                    <tr>
                        <td>Hình ảnh</td>
                        <td>@Model.Image</td>
                    </tr>
                    <tr>
                        <td>Video</td>
                        <td>@Model.Video</td>
                    </tr>
                    <tr>
                        <td>Trạng thái Sale</td>
                        <td>
                            @if (Model.BestSeller == true)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Đang diễn ra</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Không</div>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Trạng thái đơn hàng</td>
                        <td>
                            @if (Model.Active == true)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Đang bán</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Ngừng bán</div>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Thông tin</td>
                        <td>@Html.Raw(Model.Describe)</td>
                    </tr>
                    <tr>
                        <td>Số lượng còn lại</td>
                        <td>@Model.Instock</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.ActionLink("Sửa sản phẩm này", "Edit", new { id = Model.ID }, new {@class="btn btn-primary btn-tone" })
